@page "/"
@using ShiftPlan.Blazor.WebAssembly.Components

<ErrorBoundary @ref=errorBoundary>
	<ChildContent>
		<ShiftPlanDashboard/>
	</ChildContent>
	<ErrorContent Context="ex">
		<h1>Something went wrong</h1>
		<p>Try to refresh the page or contact the support</p>
		<p>Error message: @ex.Message</p>
	</ErrorContent>
</ErrorBoundary>

@code {
	public ErrorBoundary errorBoundary { get; set; } = new();

	private void ResetError()
	{
		errorBoundary.Recover();
	}
}