@namespace FrontendBlazor.Client.Pages.Components
@using FrontendBlazor.Client.Models

@if(Shift != null)
{
	<td>
		<div class="btn btn-@color">
			<div>@Shift.Start.ToString("HH:mm")</div>
			<div>@Shift.End.ToString("HH:mm")</div>
		</div>
	</td>
}
else
{
	<AddShiftModal Employ="@Employ" Date="Date" OnShiftAdded="OnShiftAdded" />
}

@code {
	[Parameter]
	public DateOnly Date { get; set; }

	[Parameter]
	public string Employ { get; set; } = string.Empty;

	[Parameter]
	public Shift? Shift { get; set; }

	[Parameter]
	public EventCallback<Shift> OnShiftAdded { get; set; }

	private string color = "secondary";
}
