@namespace ShiftPlan.Blazor.Client.Pages.Components

@using ShiftPlan.Blazor.Commons.Models
@using ShiftPlan.Blazor.Commons.Services

@inject IEmployeesService employeeService

<Button Color="ButtonColor.Primary" @ref="addButton" @onclick="OnShowModalClick">
	<Icon Name="IconName.Plus"/> Add new employee
</Button>

<Modal @ref="modal" Title="Add employee" ShowCloseButton="true">
	<BodyTemplate>
		<label>Employee name</label>
		<InputText @bind-Value="EmployeeName" />
	</BodyTemplate>
	<FooterTemplate>
		<Button Color="ButtonColor.Primary" @onclick="InsertNewEmployee">Insert</Button>
		<Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
	</FooterTemplate>
</Modal>
@code {
	[Parameter]
	public EventCallback<Employee> InsertEmployee { get; set; }
	private Button addButton = new();
	private Modal modal = new();

	private string EmployeeName { get; set; } = string.Empty;

	private async Task InsertNewEmployee()
	{
		addButton.ShowLoading("Inserting employee...");
		await OnHideModalClick();
		await InsertEmployee.InvokeAsync(new(EmployeeName, 0));
		addButton.HideLoading();
	}

	private async Task OnShowModalClick() => await modal.ShowAsync();

	private async Task OnHideModalClick() => await modal.HideAsync();
}
