@namespace FrontendBlazor.Client.Pages.Components

<Button Color="ButtonColor.Primary" @onclick="OnShowModalClick">
	<Icon Name="IconName.Floppy" /> Save
</Button>

<Modal @ref="modal" Title="Save work" ShowCloseButton="true">
	<BodyTemplate>
		<p>Do you want to save your work?</p>
	</BodyTemplate>
	<FooterTemplate>
		<Button Color="ButtonColor.Primary" @onclick="OnSaveClick">Save</Button>
		<Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
	</FooterTemplate>
</Modal>

@code {
	[Parameter]
	public EventCallback OnSave { get; set; }

	private Modal modal = new();

	private async Task OnSaveClick()
	{
		await OnSave.InvokeAsync();
		await modal.HideAsync();
	}

	private async Task OnShowModalClick()
	{
		await modal.ShowAsync();
	}
	private async Task OnHideModalClick()
	{
		await modal.HideAsync();
	}
}
