@namespace ShiftPlan.Blazor.Client.Pages.Components

@rendermode InteractiveWebAssembly

@inject IShiftsService shiftService
@inject IEmployeesService employeeService

@using ShiftPlan.Blazor.Client.Services
@using ShiftPlan.Blazor.Commons.Exceptions
@using ShiftPlan.Blazor.Commons.Helpers
@using ShiftPlan.Blazor.Commons.Models
@using ShiftPlan.Blazor.Commons.Services
@using ShiftPlan.Blazor.Client.Pages.Components
@using ShiftPlan.Blazor.Client.Pages.Components.UserIdentity

<Button Color="ButtonColor.Primary" @onclick="LoadShifts">Load shifts</Button>
<Button Color="ButtonColor.Primary" @onclick="SaveShifts">Save shifts</Button>

<div class="row d-flex">
	<div class="col-3 justify-content-start">
		<h3>ShiftPlan</h3>
	</div>
	<div class="col-6 justify-content-center">
		<AddEmployeeModal InsertEmployee="InsertOrUpdateEmployee" />
		<RemoveEmployeeModal RemoveEmployee="RemoveEmployee" Employees="employees" />
	</div>
	<div class="col-3 justify-content-end">
		<UserComponent />
	</div>
</div>

<ShiftPlanTableComponent employees="employees" shifts="shifts" OnRemoveShift="RemoveShift" OnShiftInsertOrUpdate="InsertOrUpdateShift" />

@code {
	[Inject] protected ToastService toastService { get; set; } = new();

	public List<Employee> employees = [];
	public List<Shift> shifts = [];
	public ILoadSaveService<Shift> jsonservice = new LocalFileService<Shift>();
	public string fileJsonSave = Path.Combine(Path.GetTempPath(), "shifts.json");

	protected override async Task OnInitializedAsync()
	{
		await TryGetEmployees();
		await TryGetShifts();

		async Task TryGetEmployees()
		{
			try
			{
				employees = (await employeeService.GetAll())?.ToList() ?? [];
			}
			catch (HttpCommunicationException ex)
			{
				toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
			}
		}

		async Task TryGetShifts()
		{
			try
			{
				var shiftRequestResult = await shiftService.GetAll();
				shifts = shiftRequestResult?.ToList() ?? [];
			}
			catch (HttpCommunicationException ex)
			{
				toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
			}
		}
	}


	private async Task RemoveShift(Shift shift)
	{
		try
		{
			await shiftService.Remove(shift);
			shifts.Remove(shift);
		}
		catch (HttpCommunicationException ex)
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
		}
	}

	private async Task InsertOrUpdateEmployee(Employee employee)
	{
		try
		{
			var newEmployee = await employeeService.InsertOrUpdate(employee);
			var existingEmployee = employees.FirstOrDefault(e => e.Id == newEmployee?.Id);
			if (existingEmployee is not null)
			{
				employees.Remove(existingEmployee);
			}
			if (newEmployee is null) return;
			employees.Add(newEmployee);
		}
		catch (HttpCommunicationException ex)
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
		}

	}

	private async Task RemoveEmployee(Employee employee)
	{
		try
		{
			await employeeService.Remove(employee);
			employees.Remove(employee);
		}
		catch (HttpCommunicationException ex)
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
		}
		catch (Exception ex)
		{
			return;
		}
	}

	private async Task InsertOrUpdateShift(Shift shift)
	{
		try
		{
			var newShift = await shiftService.InsertOrUpdate(shift);

			var existingShift = shifts.FirstOrDefault(s => s.Id == newShift?.Id);
			if (existingShift != null)
			{
				shifts.Remove(existingShift);
			}
			if (newShift is null) return;
			shifts.Add(newShift);

		}
		catch (HttpCommunicationException ex)
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
		}
	}

	private async Task LoadShifts()
	{
		var getShifts = await jsonservice.LoadFileAsList(fileJsonSave) as List<Shift>;
		if (getShifts != null)
			getShifts.ForEach(x=> Console.WriteLine($"{x.Employee.Name} {x.Date} {x.Start} {x.End}"));
		if (File.Exists(fileJsonSave))
		{
			toastService.Notify(ToastNotificationHelper.SuccessToastMessage("Information", $"File was created : {fileJsonSave}"));
		}
		else
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", $"File was not created : {fileJsonSave}"));
		}
	}

	private async Task SaveShifts()
	{
		if (shifts.Count() > 0)
			await jsonservice.SaveFileAsList(shifts, fileJsonSave);
		if (File.Exists(fileJsonSave))
		{
			toastService.Notify(ToastNotificationHelper.SuccessToastMessage("Information", $"File was created : {fileJsonSave}"));
		}
		else
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", $"File was not created : {fileJsonSave}"));
		}
	}
}
