@namespace ShiftPlan.Blazor.Client.Pages.Components

@rendermode InteractiveWebAssembly

@inject IShiftsService shiftService
@inject IEmployeesService employeeService
@inject IConfiguration configuration

@using ShiftPlan.Blazor.Client.Services
@using ShiftPlan.Blazor.Commons.Exceptions
@using ShiftPlan.Blazor.Commons.Helpers
@using ShiftPlan.Blazor.Commons.Models
@using ShiftPlan.Blazor.Commons.Services
@using ShiftPlan.Blazor.Client.Pages.Components
@using ShiftPlan.Blazor.Client.Pages.Components.UserIdentity

@{
	var offlineMode = configuration.GetSection("OfflineMode").Value;
	bool.TryParse(offlineMode, out bool isOfflineModeEnabled);
	if (isOfflineModeEnabled)
	{
		<Button Color="ButtonColor.Primary" @onclick="LoadEmployeeShifts">Load shifts</Button>
		<Button Color="ButtonColor.Primary" @onclick="SaveEmployeeShifts">Save shifts</Button>
	}
}

<div class="row d-flex">
	<div class="col-3 justify-content-start">
		<h3>ShiftPlan</h3>
	</div>
	<div class="col-6 justify-content-center">
		<AddEmployeeModal InsertEmployee="InsertOrUpdateEmployee" />
		<RemoveEmployeeModal RemoveEmployee="RemoveEmployee" Employees="employees" />
	</div>
	<div class="col-3 justify-content-end">
		<UserComponent />
	</div>
</div>

<ShiftPlanTableComponent employees="employees" shifts="shifts" OnRemoveShift="RemoveShift" OnShiftInsertOrUpdate="InsertOrUpdateShift" />

@code {
	[Inject] protected ToastService toastService { get; set; } = new();
	public List<Employee> employees = [];
	public List<Shift> shifts = [];
	public ILoadSaveService jsonservice = new LocalFileService();
	public string fileJsonSave = Path.Combine(Path.GetTempPath(), "employeeshifts.json");

	protected override async Task OnInitializedAsync()
	{
		var offlineMode = configuration.GetSection("OfflineMode").Value;
		bool.TryParse(offlineMode, out bool isOfflineModeEnabled);
		if (isOfflineModeEnabled)
		{
			await SaveEmployeeShifts();
		}

		await TryGetEmployees();
		await TryGetShifts();

		async Task TryGetEmployees()
		{
			try
			{
				employees = (await employeeService.GetAll())?.ToList() ?? [];
			}
			catch (HttpCommunicationException ex)
			{
				toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
			}
		}

		async Task TryGetShifts()
		{
			try
			{
				var shiftRequestResult = await shiftService.GetAll();
				shifts = shiftRequestResult?.ToList() ?? [];
			}
			catch (HttpCommunicationException ex)
			{
				toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
			}
		}
	}


	private async Task RemoveShift(Shift shift)
	{
		try
		{
			await shiftService.Remove(shift);
			shifts.Remove(shift);
		}
		catch (HttpCommunicationException ex)
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
		}
	}

	private async Task InsertOrUpdateEmployee(Employee employee)
	{
		try
		{
			var newEmployee = await employeeService.InsertOrUpdate(employee);
			var existingEmployee = employees.FirstOrDefault(e => e.Id == newEmployee?.Id);
			if (existingEmployee is not null)
			{
				employees.Remove(existingEmployee);
			}
			if (newEmployee is null) return;
			employees.Add(newEmployee);
		}
		catch (HttpCommunicationException ex)
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
		}

	}

	private async Task RemoveEmployee(Employee employee)
	{
		try
		{
			await employeeService.Remove(employee);
			employees.Remove(employee);
		}
		catch (HttpCommunicationException ex)
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
		}
		catch (Exception ex)
		{
			return;
		}
	}

	private async Task InsertOrUpdateShift(Shift shift)
	{
		try
		{
			var newShift = await shiftService.InsertOrUpdate(shift);

			var existingShift = shifts.FirstOrDefault(s => s.Id == newShift?.Id);
			if (existingShift != null)
			{
				shifts.Remove(existingShift);
			}
			if (newShift is null) return;
			shifts.Add(newShift);

		}
		catch (HttpCommunicationException ex)
		{
			toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", ex.Message));
		}
	}

	private async Task LoadEmployeeShifts()
	{
		var getEmployeeAndShifts = await jsonservice.LoadLocalFile(fileJsonSave) as LocalShiftsAndEmployees;
		if (getEmployeeAndShifts != null)
		{
			employees = getEmployeeAndShifts.Employees;
			shifts = getEmployeeAndShifts.Shifts;
		}
		if (File.Exists(fileJsonSave))
		{
			toastService.Notify(ToastNotificationHelper.SuccessToastMessage("Information", $"File was created : {fileJsonSave}"));
			return;
		}
		toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", $"File was not created : {fileJsonSave}"));
	}

	private async Task SaveEmployeeShifts()
	{
		if (shifts.Count() == 0)
		{
			await jsonservice.SaveLocalFile(SeedData(), fileJsonSave);
		}
		else
		{
			await jsonservice.SaveLocalFile(new LocalShiftsAndEmployees(employees, shifts), fileJsonSave);
		}
		if (File.Exists(fileJsonSave))
		{
			toastService.Notify(ToastNotificationHelper.SuccessToastMessage("Information", $"File was created : {fileJsonSave}"));
			return;
		}
		toastService.Notify(ToastNotificationHelper.ErrorToastMessage("Error", $"File was not created : {fileJsonSave}"));
	}

	private LocalShiftsAndEmployees SeedData()
	{
		var results = new LocalShiftsAndEmployees(new List<Employee>(), new List<Shift>());
		var employees = new List<Employee> { new Employee("Employee1", 1),
									 new Employee("Employee2", 2),
									 new Employee("Employee3", 3)};
		var currentShifts = new List<Shift>();
		var insertedEmploy = employees.Where(x => x.Name == "Employee1").Select(x => x).FirstOrDefault();
		if (insertedEmploy != null)
		{
			currentShifts = SeedShifts(insertedEmploy, ShiftType.First);
		}

		insertedEmploy = employees.Where(x => x.Name == "Employee2").Select(x => x).FirstOrDefault();
		if (insertedEmploy != null)
		{
			currentShifts.AddRange(SeedShifts(insertedEmploy, ShiftType.Second));			
		}
		results = new LocalShiftsAndEmployees(employees, currentShifts);
		return results;
	}

	private List<Shift> SeedShifts(Employee employee, ShiftType shiftType)
	{
		var startTime = GetShiftType(shiftType).Item1;
		var endTime = GetShiftType(shiftType).Item2;
		var currentShifts = new List<Shift>();
		int daysToFill = 12;//only fill in from monday to friday
		DateTime moveDay = DateTime.Today;
		for (int i = 0; i < daysToFill; i++)
		{
			moveDay = moveDay.AddDays(1);
			if (moveDay.DayOfWeek != DayOfWeek.Saturday && moveDay.DayOfWeek != DayOfWeek.Sunday)
				currentShifts.Add(new Shift(employee, DateOnly.FromDateTime(moveDay), startTime, endTime, 0));
		}
		return currentShifts;
	}

	private (TimeOnly, TimeOnly) GetShiftType(ShiftType shiftType)
	{
		var newStart = shiftType switch
		{
			ShiftType.First => new TimeOnly(6, 0),
			ShiftType.Second => new TimeOnly(14, 0),
			ShiftType.Third => new TimeOnly(22, 0),
			_ => new TimeOnly(0, 0)
		};
		var newEnd = shiftType switch
		{
			ShiftType.First => new TimeOnly(14, 0),
			ShiftType.Second => new TimeOnly(22, 0),
			ShiftType.Third => new TimeOnly(6, 0),
			_ => new TimeOnly(0, 0)
		};
		return (newStart, newEnd);
	}
}
